[submodule "taint_cpp/extern/Triton"]
	path = taint_cpp/extern/Triton
	url = git@github.com:Toizi/Triton.git
[submodule "taint_cpp/extern/fmt"]
	path = taint_cpp/extern/fmt
	url = https://github.com/fmtlib/fmt.git
